#{extends 'main.html' /}
#{set title:'Confirmation Kanban seminar' /}

<div id="mainColumn"><a name="mainColumnLink"></a>
<div class="contentIndentContainer">
<div id="kursVisning"><a href="http://www.limitedwipsociety.org/"><img
	height="129" width="97" src="@{'/public/images/yeswekanbansm.png'}"
	title="Limited WIP society" alt=""></img></a>
<div class="textController">
	<h2>Registration received</h2>
    <p>Your participation has been registered and an email confirmation is sent to the address specified.</p>	
	
	<p>Please feel free to contact us if you have any questions.</p>
	
	
	<div class="businessCard"> 
      <dl> 
         <dt>Contact:</dt> 
         <dd>Ketil Jensen</dd> 
         <dt>Email:</dt> 
         <dd> 
            <a href="mailto:ketil@miles.no">ketil@miles.no</a> 
         </dd> 
         <dt>Phone number:</dt> 
         <dd>+4797172278</dd> 
      </dl> 
   </div>
	
   <div class="businessCard"> 
      <dl> 
         <dt>Contact:</dt> 
         <dd>Arne L&oslash;vold</dd> 
         <dt>Email:</dt> 
         <dd> 
            <a href="mailto:arne@miles.no">arne@miles.no</a> 
         </dd> 
         <dt>Phone number:</dt> 
         <dd>+4791761456</dd> 
      </dl> 
   </div>	
</div>
</div>
</div>