<h2>What you will learn</h2>
	
	<p><strong>Day 1: Kanban Mechanics</strong></p> 
	
	<ul>     
		<li>Demand Analysis</li>
		<li>Value-Network Mapping</li>
		<li>Visualization</li>
		<li>Work Item Types</li>
		<li>WIP Limit</li>
		<li>Classes of Service</li>
		<li>Service Level Agreements (SLA)</li>
		<li>Kanban Simulation Game</li> 
	</ul> 
	<p><strong>Day 2: Why Kanban</strong></p>
	
	<ul>
		<li>Recipe for Success</li>
		<li>Case Studies</li>
		<li>Improvement Opportunities</li>
		<li>Understanding Variation</li>
		<li>Bottleneck Management</li>
		<li>Economic Cost Model for Lean (Waste)</li>
		<li>Metrics </li> 
	</ul>
	
	<h2>Audience</h2>
		<ul>
			<li>Software development executives</li>
			<li>Project managers</li>
			<li>Line managers</li>
			<li>Coaches & trainers</li>
			<li>Developers</li>	
			<li>Support</li>
		</ul> 