	
	<h1>${_course.name}</h1>
	<p>Participants in David J. Anderson's official Kanban Training Class will learn how to use the simple process of limiting work-in-progress as a driver of change. Kanban is a change management method and a different approach to striking agreements between IT and the business.</p>

	<p>You'll learn how to define the policies that constrain the collaborative game of software development. You'll learn how to use those policies to manage risk and to reset negotiations and recast them as collaborative problem solving.</p>

	<p>Used effectively, Kanban will change you and your organization. If your workplace has been stagnating and you are looking for new ideas to unleash productivity, innovation, collaboration and creativity, take 2 days and come along.</p>
	
	<div id="quote">
		<p><i>"Engaging and practical with real world experiences communicated in an inspiring way."</i></p>
		<p><i>- Christer Gjerstad, Software Developer</i></p>
	</div>
	
	