	
	<h1>${_course.name}</h1>

	<p>Participants in this free seminar will hear in plain language how to understand the values and principles and 
		economic model underlying agile and lean. They will learn how to use common sense to apply these ideas when 
		they most make sense, and approaches for successfully introducing change. These new change management 
		ideas will teach you how to strike different agreements between IT and business customers and make promises 
		you can keep.
	</p>
	
	
	<h2>What you will learn</h2>
	
	<h3>How to make promises you can keep</h3>
	<p>Get on the path to organizational maturity, the path to reliability and predictability, business agility and better 
	   cost control.</p>
	
	<h3>How to better manage risk</h3>
	<p>Understand how to optimize the economic tradeoffs in your process and policies.</p>

	<strong>How to make process and policy decisions aligned with business goals</strong>
	<p>Understand how process and policy choices affect predictability, business agility and governance.</p>

	<h3>How to shift the culture in your organization</h3>
	<p>Shift your corporate culture in the right direction using the Agile Decision Filter to assess decision making against 
	cultural values</p>
	
	<h2>Who should attend</h2>
	<p>If you are a function manager in a technology organization, director, vice president, head of department or 
	senior executive seeking to understand where to leverage more from your technology investment then this 
	seminar is for you. If you are mystified by Lean and Agile jargon but wonder that there might be value to be 
	found if only you could unlock it then this seminar is also for you.</p>