#{extends 'main.html' /}
#{set title:'Future Kanban Course interest' /}

<div id="mainColumn"><a name="mainColumnLink"></a>
<div class="contentIndentContainer">
<div id="kursVisning"><a href="http://www.limitedwipsociety.org/"><img
	height="129" width="97" src="@{'/public/images/yeswekanbansm.png'}"
	title="Limited WIP society" alt=""></img></a>
<div class="textController">
	<h2>Future interest registered</h2>
    <p>Your interest in future Kanban classes has been registered. We will contact you when we we know the details 
    about our next Kanban course. </p>	
	
	<p>Please feel free to contact us if you have any questions.</p>
	
	<div class="businessCard"> 
      <dl> 
         <dt>Contact:</dt> 
         <dd>Ketil Jensen</dd> 
         <dt>Email:</dt> 
         <dd> 
            <a href="mailto:ketil@miles.no">ketil@miles.no</a> 
         </dd> 
         <dt>Phone number:</dt> 
         <dd>+4797172278</dd> 
      </dl> 
   </div>
</div>
</div>
</div>