#{extends 'main.html' /}
#{set title:'Resources' /}

<div id="mainColumn"><a name="mainColumnLink"></a>
<div class="contentIndentContainer">
<div id="kursVisning">
<div class="textController">

<h1>Kanban resources</h1>

<p>There is a lot of good Kanban material on the net. This page contains links to some of the many great 
	resources out there.</p>

#{sites websites: sites /}

#{presentations presentations: presentations /}	

#{listBooks books: books /}
</div>

</div>
</div>
</div>
<div id="aside"><a name="asideLink"></a>
	#{twitterbuzz /}
</div>